{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>wsite ISCHOOL{% block title%}{% endblock %}</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='//fonts.googleapis.com/css?family=DM+Sans:400,400i,500,700' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Css -->
	<link rel="stylesheet" href="{% static 'css/style.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/custom.css' %}" />
	<link rel="stylesheet" href="{% static 'css/aos.css' %}" />

	<link rel="shortcut icon" href="{% static 'img/favicon.ico'%}">
	<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
</head>

<body data-spy="scroll" data-offset="60" data-target=".nav__holder" id="home" >

	<!-- Preloader -->
	<div class="loader-mask">
		<div class="loader">
			"Loading..."
		</div>
	</div>  


{% include 'partials/_header.html' %}

    {% block content %} {% endblock %}

 
	{% include 'partials/_footer.html' %}


<div id="back-to-top">
    <a href="#top"><i class="ui-arrow-up"></i></a>
</div>

</main> 

<!-- jQuery Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/scripts.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
</body>
</html>